<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <h4 class="card-header">Login</h4>
                <div class="card-body">
                    <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
                        {{ errorMessage }}
                    </div>
                    <form [formGroup]="loginForm" class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" type="email" name="email" autocomplete="email" formControlName="email"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                            <div *ngIf="emailError" class="invalid-feedback">
                                {{ emailError }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <app-password-field [control]="loginForm.controls.password"></app-password-field>
                        </div>

                        <div class="mb-3">
                            <button type="submit" [disabled]="loading" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                Login
                            </button>
                            <a routerLink="../register" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>