<div class="month-view">
    <div class="header">
        <div class="weekdays" *ngFor="let weekday of weekdays">
            {{ weekday }}
        </div>
    </div>
    <div class="day-list-wrapper">
        <div class="day-list" *ngFor="let day of displayDays">
            <div class="month-calendar__day">
                <span *ngIf="day">{{ day.getDate() }}</span>
                <div *ngFor="let event of getEventsForDay(day)" class="event">
                    <span>{{ event.startTime | date: 'shortTime' }} - {{ event.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>