<div class="flex">
    <div class="w-1/4 border-r p-4">
        <div *ngFor="let hour of hours" class="flex items-center">
            <span class="text-gray-600">{{ hour }}</span>
        </div>
    </div>
    <div class="w-3/4 grid grid-cols-7 gap-4 p-4">
        <div *ngFor="let day of days" class="border rounded p-2">
            <h2 class="font-bold text-center">{{ calendarService.formatDate(day) }}</h2>
            <div *ngFor="let event of events[day.toDateString()] || []" class="border rounded p-2">
                <h3 class="font-semibold">{{ event.title }}</h3>
                <p>{{ event.start | date: 'shortTime' }} - {{ event.end | date: 'shortTime' }}</p>
            </div>
        </div>
    </div>
</div>