<div class="week-view">
    <div class="header">
        <div class="time-header">Time</div>
        <div *ngFor="let day of days" class="day-header">
            <strong>{{ day | date: 'shortDate' }}</strong>
        </div>
    </div>
    <div class="body">
        <div *ngFor="let hour of hours" class="hour-slot">
            <div class="time-label">{{ hour }}</div>
        </div>
        <div class="event-overlay">
            <ng-container *ngFor="let event of events">
                <div class="event" [ngStyle]="{
                        'height': calculateEventHeight(event.start_date, event.end_date) + 'px',
                        'top': calculateEventTop(event.start_date) + 'px',
                        'left': calculateEventLeft(event.start_date) + 'px'
                    }">
                    <strong>{{ event.title }}</strong>
                    <p>{{ event.description }}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>