.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* First row auto height, second flexible */
    height: 100vh;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.section {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
}

.section-event-upload {
    background-color: #ff00006c;
}

.section-task-upload {
    background-color: aquamarine;
}

.section-result {
    background-color: #ac11ff63;
    grid-column: 1 / span 2;
    /* span both columns */
    height: auto;
}

.disabled-hint {
    margin-left: 8px;
    font-size: 12px;
    color: #666;
    font-style: italic;
}