<app-topbar></app-topbar>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <app-sidebar (eventsChanged)="onEventsChanged($event)"></app-sidebar>
        </div>
        <main class="col" id="main">
            <div *ngIf="currentView === 'day'">
                <app-day-view [events]="events"></app-day-view>
            </div>
            <div *ngIf="currentView === 'week'">
                <app-week-view [events]="events"></app-week-view>
            </div>
            <div *ngIf="currentView === 'month'">
                <app-month-view [events]="events"></app-month-view>
            </div>
        </main>
    </div>
</div>