<div class="mb-3">
    <label for="id" class="form-label">{{ label }}</label>
    <div class="input-group">
        <input id="id" [type]="hide ? 'password' : 'text'" [formControl]="control" class="form-control"
            [ngClass]="{ 'is-invalid': control.touched && control.invalid }" />
        <button type="button" class="btn btn-outline-secondary" (click)="toggleHide()">
            {{ hide ? 'Show' : 'Hide' }}
        </button>
    </div>
</div>
<div *ngIf="control?.touched && control?.errors">
    <div *ngIf="control.errors?.['required']">Password is required</div>
    <div *ngIf="control.errors?.['minlength'] as minlengthError">
        Password must be at least {{ minlengthError.requiredLength }} characters long
    </div>
</div>