<div class="modal fade" id="eventDetailModal" tabindex="-1" aria-labelledby="eventDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventDetailModalLabel">
                    <i class="bi bi-calendar-event"></i> {{ event?.title }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><i class="bi bi-clock"></i> Start: {{ event?.start | date }}</p>
                <p><i class="bi bi-clock-history"></i> End: {{ event?.end | date }}</p>
                <p><i class="bi bi-info-circle"></i> Description: {{ event?.meta.description }}</p>
                <p><i class="bi bi-geo-alt"></i> Location: {{ event?.meta.location }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>