<mat-toolbar class="topbar">
    <!-- Sidebar Toggle Button -->
    <button mat-icon-button aria-label="Toggle Sidebar" (click)="onToggleSidebar()" class="icon-only">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Generate Mock Data Button -->
    <button mat-icon-button aria-label="Generate mock data" (click)="generateMockData()" class="icon-only">
        <mat-icon>shuffle</mat-icon>
    </button>

    <!-- Navigation Buttons -->
    <div class="navigation-buttons">
        <button mat-raised-button color="primary" (click)="onNavigationChange('previous')">Previous</button>
        <button mat-stroked-button color="primary" (click)="onNavigationChange('today')">Today</button>
        <button mat-raised-button color="primary" (click)="onNavigationChange('next')">Next</button>
    </div>

    <!-- View Selector and Logout -->
    <div class="view-logout">
        <mat-form-field appearance="outline" class="view-selector">
            <mat-label>View</mat-label>
            <mat-select [(value)]="view" (selectionChange)="onViewChange($event.value)">
                <mat-option [value]="CalendarView.Month">Month</mat-option>
                <mat-option [value]="CalendarView.Week">Week</mat-option>
                <mat-option [value]="CalendarView.Day">Day</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="export()">Export Data</button>
    </div>

    <!-- Spacer to push profile section to the right -->
    <div class="spacer"></div>

    <!-- Profile Section -->
    <div class="profile-section">
        <div class="profile-container" [matMenuTriggerFor]="profileMenu">
            <div class="profile-info">
                <span class="profile-name">{{user?.username || 'Default username'}}</span>
                <span class="profile-email">{{user?.email}}</span>
            </div>
            <div class="profile-avatar">
                <img *ngIf="user?.profileImage" [src]="user?.profileImage" alt="Profile Picture" class="avatar-image">
                <mat-icon *ngIf="!user?.profileImage" class="avatar-image">user</mat-icon>
                <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
            </div>
        </div>

        <mat-menu #profileMenu="matMenu" class="profile-menu">
            <button mat-menu-item (click)="goToProfile()">
                <mat-icon>person</mat-icon>
                <span>My Profile</span>
            </button>
            <button mat-menu-item (click)="goToSettings()">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>