.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--mat-primary-contrast);
    color: var(--mat-primary);
}

.navigation-buttons {
    display: flex;
    gap: 0.5rem;
}

.view-selector {
    display: flex;
    align-items: center;
    gap: 1rem;
}