<div class="row text-center">

    <div class="col-md-4">
        <h3>
            {{ viewDate | calendarDate:(view +
            'ViewTitle'):'en':weekStartsOn }}
        </h3>
    </div>
</div>
<br />

<ng-template #customCellTemplate let-day="day" let-locale="locale" style="height: 100vh;">
    <div class="cal-cell-top">
        <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>

        <div *ngIf="day.events.length > 0">
            <div *ngFor="let event of day.events" class="cal-event-item">
                <strong>{{ event.start | date:'shortTime':locale }}</strong> - {{ event.title }}
            </div>
        </div>
    </div>
</ng-template>

<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [weekStartsOn]="weekStartsOn" (eventClicked)="handleEvent('Clicked', $event.event)"
        [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [weekStartsOn]="weekStartsOn" [viewDate]="viewDate"
        [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
</div>

<app-calendar-item-detail *ngIf="selectedEvent" [event]="selectedEvent"></app-calendar-item-detail>