<div class="row text-center">
    <div class="col-md-4">
        <h3>
            {{ viewDate | calendarDate:(calendarView + 'ViewTitle') }}
        </h3>
    </div>
</div>
<br />

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>

        <div *ngIf="day.events.length > 0">
            <div *ngFor="let event of day.events" class="cal-event-item">
                <strong>{{ event.start | date:'shortTime':locale }}</strong> - {{ event.title }}
            </div>
        </div>
    </div>
</ng-template>

<div [ngSwitch]="calendarView">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        [weekStartsOn]="weekStartsOn" (eventClicked)="handleEvent('Clicked', $event.event)"
        [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="'week'" [weekStartsOn]="weekStartsOn" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
</div>

<app-calendar-item-detail *ngIf="selectedEvent" [event]="selectedEvent">
</app-calendar-item-detail>