<div class="topbar">
    <button (click)="previous()"><i class="bi bi-chevron-left"></i></button>
    <button (click)="next()"><i class="bi bi-chevron-right"></i></button>
    <button (click)="today()">Today</button>

    <mat-form-field>
        <mat-label>Select View</mat-label>
        <mat-select [(value)]="currentView" (selectionChange)="setView($event.value)">
            <mat-option value="day">Day</mat-option>
            <mat-option value="week">Week</mat-option>
            <mat-option value="month">Month</mat-option>
        </mat-select>
    </mat-form-field>
</div>