<div class="topbar d-flex align-items-center">
    <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none">
        <i class="bi bi-list bi-lg py-2 p-1"></i> Menu
    </a>

    <button class="btn" (click)="logout()">Logout</button>

    <select class="form-select ms-3" [(ngModel)]="view" (change)="onViewChange(view)">
        <option [value]="CalendarView.Month">Month</option>
        <option [value]="CalendarView.Week">Week</option>
        <option [value]="CalendarView.Day">Day</option>
    </select>
</div>