<div class="day-view">
    <h2>{{ date | date: 'fullDate' }}</h2>
    <div class="hour-grid">
        <div class="hour" *ngFor="let hour of hours">
            <div class="hour-label">{{ hour }}</div>
            <div class="events">
                <ng-container *ngFor="let event of events">
                    <div *ngIf="event.time === hour" class="event">
                        {{ event.title }}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>