<div class="day-view">
    <h1>Current Day: {{ currentDay }}</h1>
    <div class="hour-slot" *ngFor="let hour of hours">
        <div class="hour-label">{{ hour }}:00</div>
        <div class="hour-content">
            <ng-container *ngFor="let event of events">
                <div *ngIf="event.startHour === hour" class="event"
                    [style.height.px]="(event.endHour - event.startHour) * 60">
                    {{ event.title }}
                </div>
            </ng-container>
        </div>
    </div>
</div>