<div class="page-header d-flex align-items-center justify-content-between">
    <!-- Close Button -->
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">
        Close
    </button>
    <!-- Page Title -->
    <h5 class="page-title">Edit Event</h5>
</div>
<div class="page-body">
    <form>
        <div class="mb-3">
            <label for="eventTitle" class="form-label">Title</label>
            <input type="text" id="eventTitle" class="form-control" [(ngModel)]="event.title" name="title" />
        </div>
        <div class="mb-3">
            <label for="eventStart" class="form-label">Start Date</label>
            <input type="datetime-local" id="eventStart" class="form-control" [(ngModel)]="formattedStart"
                name="start" />
        </div>
        <div class="mb-3">
            <label for="eventEnd" class="form-label">End Date</label>
            <input type="datetime-local" id="eventEnd" class="form-control" [(ngModel)]="formattedEnd" name="end" />
        </div>
        <div class="mb-3">
            <label for="eventDescription" class="form-label">Description</label>
            <textarea id="eventDescription" class="form-control" [(ngModel)]="event.meta.description"
                name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="eventLocation" class="form-label">Location</label>
            <input type="text" id="eventLocation" class="form-control" [(ngModel)]="event.meta.location"
                name="location" />
        </div>
    </form>
</div>
<div class="page-footer d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveEvent()">Save</button>
</div>